* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;                  
}

main,body{
    margin: 0 auto;
}

h1{
    font-size: 5rem;
    text-align: center;
}

h2{
    font-size: 3rem;
    font-weight: 600;
    margin-left: 180px;
    margin-bottom: 40px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #ff4568;
    content: " ";
    width: 150px;
}

h3{
    font-size: 1.5rem;
    margin-left: 180px;
    margin-bottom: 20px;
}

h4{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;;
}

section{
    margin-bottom: 50px;
}

/* ---------- HEADING ------------ */

.heading{
    display: grid;
    grid-template-columns: 1fr 1.75fr;
    margin-top: 40px;
    margin-right: 120px;
    margin-bottom: 80px;

}

.heading-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.heading-title{
    margin-left: 100px;
}

.heading-button{
    text-align: center;
    margin-left: 100px;
}

.heading-image img{
    max-width: 100%;
    border-radius: 10px;
}

.btn{
    padding: 20px 20px;
    text-align: center;
    font-weight: 600;
    font-size: medium;
    text-decoration: none;
    background-color: #ff4568;
    border-radius: 10px;
    color: #fff;
}

/* ---------- REASONS ------------ */

.reasons-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 180px;
}

.reasons-list__image{
    width: 280px;
    border-radius: 10px;
}

.reasons-list__item img{
    max-width: 100%;
}


/* ---------- VALUES ------------ */

.values-title{
    margin-bottom: 7px;
}

.values-subtitle{
    margin-bottom: 50px;
}

.values-grid{
    margin-left: 180px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 50px;
}

.value{
    display: flex;
    flex-direction: column;
}

.values-grid__image{
    width: 280px;
    border-radius: 10px;
}

.values-grid__image img{
    max-width: 100%;
}


/* ---------- OPENINGS ------------ */

.openings-title{
    margin-bottom: 10px;
}

.openings-grid{
    margin: 40px auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
}

.opening{
    display: grid;
    grid-template-columns: 1.75fr 1fr;

    margin-bottom: 40px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.opening-content{
    display: flex;
    flex-direction: column;
}

.opening-content__title{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

.opening-content__description{
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 10px 0px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
}

.opening-image {
    width: 100%;
}

.opening-image img{
    max-width: 100%;
    border-radius: 10px;
}

.opening-content__apply{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #ff4568;
    border-radius: 10px;
    color: #fff;
    margin-left: 30px;
}


/* ---------- BLOGS ------------ */

.blogs-title{
    margin-bottom: 10px;
}

.blogs-subtitle{
    margin-bottom: 50px;
}

.blogs-grid{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 50px;
    align-items: center;
}

.blog{
    height: 380px;
    margin-bottom: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid #ff4568;
}

.blog-image {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    vertical-align: middle;
    width: 280px;
}

.blog-image img{
    max-width: 100%;
}

.blog-content__title{
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 400;
}

.blog-content__more{
    margin-left: 90px;
    padding: 10px 20px;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #ff4568;
    border-radius: 200px;
    color: #fff;
}

/* ---------- TESTIMONIALS ------------ */

.testimonials-title{
    margin-bottom: 7px;
}

.testimonials-subtitle{
    margin-bottom: 50px;
}

.stories{
    width:600px;
    margin: 0 auto;
}

.story-image img{
    border-radius: 20px;
    max-width: 100%;
}


/*  MEDIA QUERIES   */

@media only screen and (max-width: 1200px) {
    
    h2{
        margin-left: 100px;
    }

    h3{
        font-size: 1.5rem;
        margin-left: 100px;
    }

    .reasons-list{
        max-width: 1000px;
        margin-left: 100px;
        gap: 70px;
    }

    .values-grid{
        margin-left: 100px;
        
    }

}

@media only screen and (max-width: 1024px) {
    h1{
        font-size: 3.5rem;
    }

    h2{
        font-size: 2.3rem;
        margin-left: 85px;
    }

    h3{
        font-size: 1.5rem;
        margin-left: 85px;
    }

    h4{
        font-size: 1.5rem;
    }

    .btn{
        padding: 14px 14px;
        font-size: 1.4rem;
    }

    .reasons-list{
        max-width: 850px;
        margin-left: 85px;
    }

    .values-grid{
        max-width: 850px;
        margin-left: 85px;
        grid-row-gap: 40px;
        grid-column-gap: 40px;
    }

    .values-grid__image{
        width: 260px;
    }

    .value-name{
        margin-top: 20px; 
    }

    .openings-grid{
        max-width: 850px;
    }

    .opening-content__title{
        font-size: 2.2rem;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .opening-content__description{
        line-height: 1.4;
        font-size: 1.4rem;
        padding: 8px 0px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 20px;
    }

    .opening-content__apply{
        padding: 10px 13px;
        
    }

    .blogs-grid{
        max-width: 800px;
    }

    .blog-content__title{
        margin-left: 30px;
    }

    .blog-content__more{
        margin-left: 60px;
    }
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 2.5rem;
        margin-right: 50px;
    }

    h2{
        font-size: 2rem;
        margin-left: 60px;
    }

    h3{
        font-size: 1.5rem;
        margin-left: 60px;
    }


    .heading{
        margin-right: 0px;
    }

    .heading-text {
        gap: 20px;
    }

    .heading-button{
        margin-left: 0px;
        margin-right: 20px; 
    }

    .heading-title{
        margin-left: 80px;
    }

    .btn{
        padding: 12px 12px;
        margin-left: 50px;
        font-size: 1.2rem;
    }

    .reasons-list{
        max-width: 650px;
        gap: 30px;
        margin-left: 60px;
    }

    .values-grid{
        max-width: 650px;
        gap: 25px;
        margin-left: 60px;
    }

    .values-grid__image{
        width: 100%;
    }

    .openings-grid{
        max-width: 700px;
    }

    .opening-content__description{
        line-height: 1.3;
        font-size: 1.3rem;
        padding: 10px 0px;
        margin-bottom: 15px;
    }

    .opening-content{
        gap: 10px;
    }

    .opening-content__title{
        margin-left: 20px;
        margin-top: 15px;
        font-size: 2rem;
    }

    .opening{
        grid-template-columns: 1.20fr 1fr;
    }

    

    .opening-content__description{
        line-height: 1.3;
        font-size: 1.3rem;
        padding: 5px 0px;
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .opening-content__apply{
        font-size: 1.4rem;
        font-weight: 500;
        margin-left: 20px;
    }

    .blogs-grid{
        max-width: 700px;
        gap: 30px;
    }

    .blog-content__title{
        margin-left: 20px;
    }

    .blog-content__more{
        margin-left: 50px;
    }

    .stories{
        width:400px;
    }
}


@media only screen and (max-width: 480px) {
    
    section{
        margin-bottom: 40px;
    }

    h1{
        font-size: 3.2rem;
    }

    h2{
        font-size: 2.7rem;
        margin-left: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    h2:after{
        display: block;
        height: 2px;
        background-color: #ff4568;
        content: " ";
        width: 100px;
        margin: 0 auto;
    }

    h3{
        font-size: 1.4rem;
        margin-left: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

    h4{
        font-size: 1.5rem;
        margin-left: 100px;
    }


    .heading{
        display: flex;
        flex-direction: column-reverse;
    }

    .heading-text {
        margin: 0 auto;
        align-items: center;
    }

    .heading-title{
        margin-top: 20px;
        margin-left: 50px;
    }

    .heading-image {
        margin: 0 auto;
        width: 400px;
    }

    .heading-button {
        margin-right: 70px;
    }
    
    
    .btn{
        padding: 13px 13px;
        margin-left: 70px;
        font-size: 1.5rem;
    }

    .reasons{
        margin: 0 auto;
    }

    .reasons-list{
        max-width: 250px;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        justify-content: center;
        margin: 20px auto;
    }
    
    .reasons-list__title{
        margin-left: 95px;
    }

    .values-title{
        margin-top: 60px;
        margin-bottom: 7px;
    }

    .values-grid{
        max-width: 250px;
        grid-template-columns: repeat(1,1fr);
        gap : 10px;
        margin: 20px auto;
    }

    .values-grid__image{
        width: 100%;
    }

    .value-name{
        font-size: 1.2;
        margin-left: 100px;
        margin-top: 20px; 
    }

    .openings-grid{
        margin : 20px auto;
        max-width: 300px;
        gap: 30px;
    }

    .opening{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }

    .opening-content__title{
        font-size: 1.8rem;
        text-align: center;
    }

    .opening-content__description{
        line-height: 1.2;
        font-size: 1.2rem;
        padding: 5px 0px;
        margin-bottom: 5px;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .opening-image{
        margin-top: 0px;
    }

    .opening-content__apply{
        margin-left: 110px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .blogs-title{
        margin-top: 60px;
    }

    .blogs-grid{
        max-width: 300px;
        gap: 30px;
        grid-template-columns: repeat(1,1fr);
    }

    .blog{
        height: 350px;
        margin-bottom: 30px;
    }

    .blog-content__title{
        margin-bottom: 40px;

    }

    .blog-content__more{
        margin-left: 90px;
    }


    .testimonials-title{
        margin-top: 60px;
    }

    .stories{
        width:350px;
    }
}