* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;                  
}

h1{
    font-size: 6rem;
    margin-right: 40px;
    margin-bottom: 35px;
}

h2{
    font-size: 3.5rem;
    font-weight: 600;
    margin-left: 200px;
    margin-bottom: 40px;
}

h3{
    font-size: 1.5rem;
    margin-left: 200px;
    margin-bottom: 5rem;
}

h4{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 20px;
}

/* ---------- HEADING ------------ */

.heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.heading-text {
    padding: 0 10px;
    margin-right: 20px;
    align-items: center;
}
  

.heading-image {
    margin-top: 10px;
    vertical-align: middle;
    width: 700px;
}

.heading-image img{
    max-width: 100%;
}

.btn{
    padding: 20px 20px;
    margin-left: 50px;
    margin-top: 20px;
    justify-content: center;
    font-weight: 600;
    font-size: medium;
    text-decoration: none;
    background-color: #ff4568;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: #F5002D;
}

/* ---------- REASONS ------------ */

.reasons-list{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 50px;
    align-items: center;
}

.reasons-list__image{
    width: 100%;
    display: block;
    border-radius: 50px;
}

.reasons-list__item img{
    max-width: 100%;
}

.reasons-list__title{
    margin-left: 100px;
}

/* ---------- VALUES ------------ */

.values-title{
    margin-top: 80px;
    margin-bottom: 7px;
}

.values-grid{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 50px;
    align-items: center;
}

.values-grid__image{
    width: 100%;
    display: block;
    border-radius: 50px;
}

.value-name{
    margin-left: 125px;
    margin-top: 20px; 
}

/* ---------- OPENINGS ------------ */

.openings-title{
    margin-top: 80px;
    margin-bottom: 10px;
}

.openings-grid{
    margin: 50px auto;
    max-width: 1000px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    gap : 50px;
    align-items: center;
}

.opening{
    display: flex;
    margin-bottom: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.opening-content__title{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 3rem;
}

.opening-content__description{
    line-height: 1.5;
    font-size: 1.5rem;
    padding: 15px 0px;
    margin-bottom: 40px;
    margin-left: 20px;
}

.opening-image {
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 10px;
    vertical-align: middle;
    width: 100%;
}

.opening-image img{
    max-width: 100%;
}

.opening-content__apply{
    padding: 10px 20px;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #ff4568;
    border-radius: 200px;
    color: #fff;
    margin-left: 200px;
    margin-bottom: 20px;
}


/* ---------- BLOGS ------------ */

.blogs-title{
    margin-top: 80px;
    margin-bottom: 10px;
}

.blogs-grid{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap : 50px;
    align-items: center;
}

.blog{
    margin-bottom: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.blog-image {
    margin-top: 60px;
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
}

.blog-image img{
    max-width: 100%;
}

.blog-content__title{
    margin-left: 50px;
}

.blog-content__more{
    margin-left: 100px;
    padding: 10px 20px;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #ff4568;
    border-radius: 200px;
    color: #fff;
}

/* ---------- TESTIMONIALS ------------ */

.testimonials-title{
    margin-top: 80px;
    margin-bottom: 7px;
}

.stories{
    width:500px;
    margin: 0 auto;
}

.story-image img{
    border-radius: 40px;
    width: 100%;
}


/*  MEDIA QUERIES   */

@media only screen and (max-width: 1200px) {
    
    h2{
        margin-left: 50px;
    }

    h3{
        font-size: 1.5rem;
        margin-left: 50px;
        margin-bottom: 5rem;
    }

    .reasons-list{
        max-width: 900px;
    }

}

@media only screen and (max-width: 1023px) {
    h1{
        font-size: 4rem;
        margin-left: 50px;
    }

    h2{
        font-size: 2.5rem;

        margin-left: 85px;
    }

    h3{
        font-size: 1.5rem;
        margin-left: 85px;
        margin-bottom: 5rem;
    }

    h4{
        font-size: 1.5rem;
    }

    .heading-image {
        width: 600px;
    }

    .btn{
        padding: 15px 15px;
        margin-left: 60px;
        font-size: 1.5rem;
    }

    .reasons-list{
        max-width: 750px;
    }

    .reasons-list__title{
        margin-left: 50px;
    }

    .values-grid{
        max-width: 800px;
    }

    .values-grid__image{
        width: 100%;
    }

    .value-name{
        margin-left: 100px;
        margin-top: 20px; 
    }

    .openings-grid{
        max-width: 700px;
    }

    .opening-content__title{
        font-size: 2.3rem;
    }

    .opening-content__apply{
        margin-left: 180px;
    }

    .blogs-grid{
        max-width: 800px;
    }

    .blog-content__title{
        margin-left: 30px;
    }

    .blog-content__more{
        margin-left: 60px;
    }
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 3.5rem;
        margin-left: 50px;
    }

    h2{
        font-size: 2.5rem;
        margin-left: 60px;
    }

    h3{
        font-size: 1.5rem;
        margin-left: 60px;
        margin-bottom: 5rem;
    }

    h4{
        font-size: 1.5rem;
        margin-left: 50px;
    }

    .heading-image {
        width: 600px;
    }

    .btn{
        padding: 15px 15px;
        margin-left: 60px;
        font-size: 1.3rem;
    }

    .reasons-list{
        max-width: 650px;
        gap: 30px;
    }

    .values-grid{
        max-width: 700px;
        gap: 25px;
    }

    .values-grid__image{
        width: 100%;
    }

    .value-name{
        margin-left: 80px;
        margin-top: 20px; 
    }

    .openings-grid{
        max-width: 550px;
        gap: 30px;
    }

    .opening-content__title{
        font-size: 2.3rem;
    }

    .opening-content__description{
        line-height: 1.3;
        font-size: 1.3rem;
        padding: 10px 0px;
        margin-bottom: 25px;
    }

    .opening-image{
        margin-top: 80px;
        margin-left: 30px;
    }

    .opening-content__apply{
        margin-left: 140px;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .blogs-grid{
        max-width: 700px;
        gap: 30px;
    }

    .blog-content__title{
        margin-left: 20px;
    }

    .blog-content__more{
        margin-left: 50px;
    }

    .stories{
        width:400px;
    }
}


@media only screen and (max-width: 480px) {
    h1{
        font-size: 2.5rem;
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
    }

    h2{
        font-size: 2rem;
        margin-left: 35px;
    }

    h3{
        font-size: 1.3rem;
        margin-left: 35px;
        margin-bottom: 5rem;
    }

    h4{
        font-size: 1.5rem;
        margin-left: 100px;
    }

    .heading-image {
        width: 600px;
    }

    .btn{
        padding: 10px 10px;
        margin-left: 35px;
        font-size: 0.9rem;
    }

    .reasons-list{
        max-width: 280px;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        align-items: center;
    }
    
    .reasons-list__title{
        margin-left: 95px;
    }

    .values-title{
        margin-top: 60px;
        margin-bottom: 7px;
    }

    .values-grid{
        max-width: 450px;
        grid-template-columns: repeat(2,1fr);
        gap : 20px;
    }

    .values-grid__image{
        width: 100%;
    }

    .value-name{
        margin-left: 80px;
        margin-top: 20px; 
    }

    .openings-title{
        margin-top: 60px;
    }

    .openings-grid{
        max-width: 400px;
        gap: 30px;
    }

    .opening-content__title{
        font-size: 1.8rem;
    }

    .opening-content__description{
        line-height: 1.2;
        font-size: 1rem;
        padding: 5px 0px;
        margin-bottom: 25px;
    }

    .opening-image{
        margin-top: 80px;
        margin-left: 30px;
    }

    .opening-content__apply{
        margin-left: 100px;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .blogs-title{
        margin-top: 60px;
    }

    .blogs-grid{
        max-width: 300px;
        gap: 30px;
        grid-template-columns: repeat(1,1fr);
    }

    .blog{
        margin-bottom: 30px;
    }

    .blog-content__title{
        margin-left: 20px;
    }

    .blog-content__more{
        margin-left: 90px;
    }


    .testimonials-title{
        margin-top: 60px;
    }

    .stories{
        width:350px;
    }
}